@import url('https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap');

body {
  font-family: 'Ropa Sans', sans-serif;
  color: #00FFA6;
  background-color: #000000;
  border: 5px solid #00FFA6;
  padding: 5px;
}

.navbar a:hover {
    background-color: #0108FF ;
    color: #01FF8F ;
}
